.grid{
    width: 606px;   
    height: 606px;
    display: flex;   
    flex-wrap: wrap;
    margin: auto;
}

.square{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#\31{
      border-top-left-radius: 30px;  
}
#\33{
      border-top-right-radius: 30px;  
}
#\37{
      border-bottom-left-radius: 30px;  
}
#\39{
      border-bottom-right-radius: 30px;  
}

.mole{
    background: url(./mole.jpg);
    background-size: cover;
}